<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UISegmentedControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E648F12E1CA972E6000209AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E648F1421CA972E6000209AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E648F14D1CA972E6000209AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
